<a href="https://colab.research.google.com/github/jscorrea16/Pandas/blob/main/BIDSS_4_Joshua_Correa_CIDM_5310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
# Mapping Aedes aegypti and Ae. albopictus vector mosquito
# distribution in Brownsville, Texas

# Importing Libraries


from __future__ import print_function
from ipywidgets import interact, interactive, fixed, interact_manual
from IPython.core.display import display, HTML

import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
import folium

In [ ]:
scihub_data = pd.read_csv('/content/drive/MyDrive/Dataset/BrownsvilleData_SciHub.csv')

scihub_data.head(20)

,Unnamed: 0,TrapNumber,y_aeg,y_albo,Lat,Long,Date,isoweek,Total,Proportion_Water_10,...,Prop_1949_older,Prop_1959_older,Prop_1969_older,Prop_1979_older,Prop_1989_older,Prop_1999_older,Prop_2009_older,Temp,L1Temp,L2Temp
0,1,10,3,0,25.913656,-97.486471,3/21/2017,12,31380,0.0,...,0.060606,0.121212,0.272727,0.515152,0.787879,0.939394,0.969697,24.428571,20.892857,24.178571
1,2,10,1,1,25.913656,-97.486471,3/30/2017,13,31380,0.0,...,0.060606,0.121212,0.272727,0.515152,0.787879,0.939394,0.969697,25.035714,24.428571,20.892857
2,3,10,1,0,25.913656,-97.486471,4/6/2017,14,31380,0.0,...,0.060606,0.121212,0.272727,0.515152,0.787879,0.939394,0.969697,24.250000,25.035714,24.428571
3,4,10,1,0,25.913656,-97.486471,4/5/2017,14,31380,0.0,...,0.060606,0.121212,0.272727,0.515152,0.787879,0.939394,0.969697,24.250000,25.035714,24.428571
4,5,10,1,0,25.913656,-97.486471,4/12/2017,15,31380,0.0,...,0.060606,0.121212,0.272727,0.515152,0.787879,0.939394,0.969697,25.642857,24.250000,25.035714
5,6,10,1,0,25.913656,-97.486471,5/10/2017,19,31380,0.0,...,0.060606,0.121212,0.272727,0.515152,0.787879,0.939394,0.969697,26.964286,24.535714,26.857143
6,7,10,2,0,25.913656,-97.486471,5/9/2017,19,31380,0.0,...,0.060606,0.121212,0.272727,0.515152,0.787879,0.939394,0.969697,26.964286,24.535714,26.857143
7,8,10,2,0,25.913656,-97.486471,5/17/2017,20,31380,0.0,...,0.060606,0.121212,0.272727,0.515152,0.787879,0.939394,0.969697,28.500000,26.964286,24.535714
8,9,10,2,0,25.913656,-97.486471,5/23/2017,21,31380,0.0,...,0.060606,0.121212,0.272727,0.515152,0.787879,0.939394,0.969697,28.607143,28.500000,26.964286
9,10,10,0,0,25.913656,-97.486471,6/2/2017,22,31380,0.0,...,0.060606,0.121212,0.272727,0.515152,0.787879,0.939394,0.969697,28.000000,28.607143,28.500000
10,11,10,7,0,25.913656,-97.486471,6/8/2017,23,31380,0.0,...,0.060606,0.121212,0.272727,0.515152,0.787879,0.939394,0.969697,29.214286,28.000000,28.607143
11,12,10,8,0,25.913656,-97.486471,6/7/2017,23,31380,0.0,...,0.060606,0.121212,0.272727,0.515152,0.787879,0.939394,0.969697,29.214286,28.000000,28.607143
12,13,10,14,3,25.913656,-97.486471,6/6/2017,23,31380,0.0,...,0.060606,0.121212,0.272727,0.515152,0.787879,0.939394,0.969697,29.214286,28.000000,28.607143
13,14,10,6,0,25.913656,-97.486471,6/16/2017,24,31380,0.0,...,0.060606,0.121212,0.272727,0.515152,0.787879,0.939394,0.969697,30.035714,29.214286,28.000000
14,15,10,7,0,25.913656,-97.486471,6/14/2017,24,31380,0.0,...,0.060606,0.121212,0.272727,0.515152,0.787879,0.939394,0.969697,30.035714,29.214286,28.000000
15,16,10,2,0,25.913656,-97.486471,6/23/2017,25,31380,0.0,...,0.060606,0.121212,0.272727,0.515152,0.787879,0.939394,0.969697,30.928571,30.035714,29.214286
16,17,10,0,0,25.913656,-97.486471,7/7/2017,27,31380,0.0,...,0.060606,0.121212,0.272727,0.515152,0.787879,0.939394,0.969697,29.285714,29.071429,30.928571
17,18,10,0,0,25.913656,-97.486471,7/6/2017,27,31380,0.0,...,0.060606,0.121212,0.272727,0.515152,0.787879,0.939394,0.969697,29.285714,29.071429,30.928571
18,19,10,47,0,25.913656,-97.486471,7/11/2017,28,31380,0.0,...,0.060606,0.121212,0.272727,0.515152,0.787879,0.939394,0.969697,28.500000,29.285714,29.071429
19,20,10,31,0,25.913656,-97.486471,7/19/2017,29,31380,0.0,...,0.060606,0.121212,0.272727,0.515152,0.787879,0.939394,0.969697,29.607143,28.500000,29.285714

In [ ]:
grid_data = pd.read_csv('/content/drive/MyDrive/Dataset/GridOverlay_Compiled_WithDaymet.csv')

grid_data.head(20)

,Unnamed: 0,GridNumber,y_aeg,y_albo,Lat,Long,Date,week,Total,Proportion_Water_10,...,Prop_1949_older,Prop_1959_older,Prop_1969_older,Prop_1979_older,Prop_1989_older,Prop_1999_older,Prop_2009_older,Temp,L1Temp,L2Temp
0,1,0,0,0,25.879700,-97.519096,1/21/2017,3,31367,0.767718,...,0,0,0,0.0,0.0,0.0,0.0,21.964286,19.392857,17.071429
1,2,0,0,0,25.879601,-97.509102,1/28/2017,4,31367,0.767718,...,0,0,0,0.0,0.0,0.0,0.0,18.285714,21.964286,19.392857
2,3,0,0,0,25.879400,-97.499100,2/4/2017,5,31367,0.767718,...,0,0,0,0.0,0.0,0.0,0.0,19.035714,18.285714,21.964286
3,4,0,0,0,25.879299,-97.489098,2/11/2017,6,31367,0.767718,...,0,0,0,0.0,0.0,0.0,0.0,23.571429,19.035714,18.285714
4,5,0,0,0,25.879200,-97.479103,2/18/2017,7,31367,0.767718,...,0,0,0,0.0,0.0,0.0,0.0,20.928571,23.571429,19.035714
5,6,0,0,0,25.879101,-97.469200,2/25/2017,8,31367,0.767718,...,0,0,0,0.0,0.0,0.0,0.0,23.535714,20.928571,23.571429
6,7,0,0,0,25.879000,-97.459198,3/4/2017,9,31367,0.767718,...,0,0,0,0.0,0.0,0.0,0.0,23.392857,23.535714,20.928571
7,8,0,0,0,25.878901,-97.449203,3/11/2017,10,31367,0.767718,...,0,0,0,0.0,0.0,0.0,0.0,24.357143,23.392857,23.535714
8,9,0,0,0,25.878799,-97.439201,3/18/2017,11,31367,0.767718,...,0,0,0,0.0,0.0,0.0,0.0,20.964286,24.357143,23.392857
9,10,0,0,0,25.878700,-97.429199,3/25/2017,12,31367,0.767718,...,0,0,0,0.0,0.0,0.0,0.0,24.535714,20.964286,24.357143
10,11,0,0,0,25.878599,-97.419296,4/1/2017,13,31367,0.767718,...,0,0,0,0.0,0.0,0.0,0.0,25.142857,24.535714,20.964286
11,12,0,0,0,25.878500,-97.409302,4/8/2017,14,31367,0.767718,...,0,0,0,0.0,0.0,0.0,0.0,24.392857,25.142857,24.535714
12,13,0,0,0,25.878401,-97.399300,4/15/2017,15,31367,0.767718,...,0,0,0,0.0,0.0,0.0,0.0,25.714286,24.392857,25.142857
13,14,0,0,0,25.878300,-97.389297,4/22/2017,16,31367,0.767718,...,0,0,0,0.0,0.0,0.0,0.0,26.250000,25.714286,24.392857
14,15,0,0,0,25.878201,-97.379402,4/29/2017,17,31367,0.767718,...,0,0,0,0.0,0.0,0.0,0.0,26.928571,26.250000,25.714286
15,16,0,0,0,25.888800,-97.528900,5/6/2017,18,31367,0.767718,...,0,0,0,0.0,0.0,0.0,0.0,24.500000,26.928571,26.250000
16,17,0,0,0,25.888700,-97.518898,5/13/2017,19,31367,0.767718,...,0,0,0,0.0,0.0,0.0,0.0,27.000000,24.500000,26.928571
17,18,0,0,0,25.888599,-97.509003,5/20/2017,20,31367,0.767718,...,0,0,0,0.0,0.0,0.0,0.0,28.607143,27.000000,24.500000
18,19,0,0,0,25.888500,-97.499001,5/27/2017,21,31367,0.767718,...,0,0,0,0.0,0.0,0.0,0.0,28.678571,28.607143,27.000000
19,20,0,0,0,25.888399,-97.488998,6/3/2017,22,31367,0.767718,...,0,0,0,0.0,0.0,0.0,0.0,28.214286,28.678571,28.607143

In [ ]:
# City of Amarillo Mosquito Control

from IPython.display import Image
from IPython.core.display import HTML
Image(url = 'https://www.amarillo.gov/home/showpublishedimage/12506/637600557321730000')

In [20]:
# CDC Data: West Nile virus human and non-human activity by county, 1999-2022

# https://www.cdc.gov/westnile/statsmaps/historic-data.html

cdc_west_nile_df = pd.read_csv('/content/drive/MyDrive/Dataset/West Nile virus human and non-human activity by county, 1999-2022_.csv')

cdc_west_nile_df.head(20)

,Year,County,Activity,Reported human cases,Neuroinvasive disease cases,Identified by Blood Donor Screening
0,1999-2022,1001,Human infections and non-human activity,10.0,7.0,NaN
1,1999-2022,1003,Human infections and non-human activity,28.0,18.0,7.0
2,1999-2022,1005,Human infections and non-human activity,2.0,1.0,NaN
3,1999-2022,1007,Human infections and non-human activity,3.0,2.0,NaN
4,1999-2022,1009,Human infections and non-human activity,1.0,NaN,NaN
5,1999-2022,1011,Human infections and non-human activity,1.0,1.0,NaN
6,1999-2022,1013,Human infections and non-human activity,2.0,1.0,1.0
7,1999-2022,1015,Human infections and non-human activity,5.0,3.0,NaN
8,1999-2022,1017,Human infections and non-human activity,2.0,2.0,1.0
9,1999-2022,1019,Non-human activity,NaN,NaN,NaN
10,1999-2022,1021,Human infections and non-human activity,3.0,3.0,NaN
11,1999-2022,1023,Non-human activity,NaN,NaN,NaN
12,1999-2022,1025,Non-human activity,NaN,NaN,NaN
13,1999-2022,1027,Non-human activity,NaN,NaN,NaN
14,1999-2022,1029,Human infections and non-human activity,1.0,1.0,NaN
15,1999-2022,1031,Human infections and non-human activity,5.0,2.0,NaN
16,1999-2022,1033,Human infections and non-human activity,2.0,1.0,NaN
17,1999-2022,1035,Human infections and non-human activity,1.0,1.0,NaN
18,1999-2022,1037,Non-human activity,NaN,NaN,NaN
19,1999-2022,1039,Human infections and non-human activity,1.0,1.0,NaN

In [19]:
# CDC Data: Human Disease Cases Reported by Month of Illness

cdc_monthly_illness_df = pd.read_csv('/content/drive/MyDrive/Dataset/West Nile virus human disease cases reported by month of illness onset from year(s) and type of case selected above.csv')

cdc_monthly_illness_df.head(12)

                 Type       Year Month  Reported Cases
0   All disease cases  1999-2022   Jan              32
1   All disease cases  1999-2022   Feb              18
2   All disease cases  1999-2022   Mar              32
3   All disease cases  1999-2022   Apr              54
4   All disease cases  1999-2022   May             233
5   All disease cases  1999-2022   Jun            1210
6   All disease cases  1999-2022   Jul            8893
7   All disease cases  1999-2022   Aug           25735
8   All disease cases  1999-2022   Sep           16217
9   All disease cases  1999-2022   Oct            3448
10  All disease cases  1999-2022   Nov             573
11  All disease cases  1999-2022   Dec             122

In [18]:
# CDC Data: Human Disease Cases reported by State

cdc_state_df = pd.read_csv('/content/drive/MyDrive/Dataset/West Nile virus human disease cases reported by state of residence from year(s) and type of case selected above.csv')

cdc_state_df.head(10)

                Type       Year State  Reported Cases Legend categories
0  All disease cases  1999-2022    AK               3            1 to 6
1  All disease cases  1999-2022    AL             391               >50
2  All disease cases  1999-2022    AR             365               >50
3  All disease cases  1999-2022    AZ            3707               >50
4  All disease cases  1999-2022    CA            7597               >50
5  All disease cases  1999-2022    CO            6063               >50
6  All disease cases  1999-2022    CT             180               >50
7  All disease cases  1999-2022    DC             132               >50
8  All disease cases  1999-2022    DE              56               >50
9  All disease cases  1999-2022    FL             469               >50

In [31]:
def highlight_col(x):
  r = 'background-color: red'
  g = 'background-color: grey'
  temp_df = pd.DataFrame('', index = x.index, columns = x.columns)
  temp_df.iloc[:, 2] = r
  temp_df.iloc[:, 3] = g
  return temp_df

cdc_state_df.style.apply(highlight_col, axis = None)

In [38]:
def state_cases_for_state(state):
  labels = ['State', 'Reported Cases']
  colors = ['blue', 'red']
  mode_size = [6 , 8]
  line_size = [4 , 5]

  df_list = [cdc_state_df, cdc_monthly_illness_df]

  fig = go.Figure()

  for i, df in enumerate(df_list):
    if state == "State" or state == 'state':
      x_data = np.array(list(df.iloc[:, 5].columns))
      y_data = np.sum(np.asarray(df.iloc[:, 5]), axis = 0)

    else:
            x_data = np.array(list(df.iloc[:, 5:].columns))
            y_data = np.sum(np.asarray(df[df['State'] == state].iloc[:,5:]),axis = 0)

            fig.add_trace(go.Scatter(x=x_data, y=y_data, mode = 'lines+markers',
                          name = labels[i],
                          line = dict(color =colors[i], width = line_size[i]),
                          connectgaps = True,
                          text = "Total " + str(labels[i]) + ": "+ str(y_data[-1])

                          ))
  fig.show()



interact(state_cases_for_state, state = 'State');

interactive(children=(Text(value='State', description='state'), Output()), _dom_classes=('widget-interact',))