In [1]:
import pandas as pd

In [3]:
dog_food_orders = \
pd.read_excel('Dataset/dog_food_orders.xlsx',
             engine = 'openpyxl')
dog_food_orders

                  product  wholesale_price   msrp  qty_ordered  qty_shipped
0           skippys_dream             8.99  18.38          100          100
1           just_the_beef             4.99  10.43          200          195
2        potatos_and_lamb             5.19  11.43           50           50
3  turkey_and_cranberries             5.98  12.00           50           50
4            roasted_duck             9.59  17.48           15           15

In [13]:
data_url = 'https://en.wikipedia.org/wiki/Wind_power'
data = pd.read_html(data_url)
data

[                                                   0
 0                                Part of a series on
 1                                 Sustainable energy
 2  Energy conservation Arcology Building insulati...
 3  Renewable energy Biofuel Biogas Biomass Carbon...
 4  Sustainable transport Bicycle Cycle rickshaw E...
 5                  Renewable energy portal Â Category
 6  .mw-parser-output .navbar{display:inline;font-...,
                  Wind farm  Capacity (MW)        Country  Refs
 0          Gansu Wind Farm           7965          China  [21]
 1      Muppandal wind farm           1500          India  [22]
 2  Alta (Oak Creek-Mojave)           1320  United States  [23]
 3      Jaisalmer Wind Park           1064          India  [24],
     0                                                  1
 0 NaN  Graphs are temporarily unavailable due to tech...,
                                                     0   1   2   3   4
 0   Number of countries with wind capacities in th... NaN NaN NaN NaN
 1                                                2018 NaN NaN NaN NaN
 2                                                2017 NaN NaN NaN NaN
 3                                                2016 NaN NaN NaN NaN
 4                                                2015 NaN NaN NaN NaN
 5                                                2012 NaN NaN NaN NaN
 6                                                2011 NaN NaN NaN NaN
 7                                                2010 NaN NaN NaN NaN
 8                                                2009 NaN NaN NaN NaN
 9                                                2008 NaN NaN NaN NaN
 10                                               2006 NaN NaN NaN NaN
 11                                               2005 NaN NaN NaN NaN
 12                                               2004 NaN NaN NaN NaN
 13                                               1999 NaN NaN NaN NaN
 14                                               1997 NaN NaN NaN NaN
 15                                               1995 NaN NaN NaN NaN
 16                                               1986 NaN NaN NaN NaN
 17                                               2018 NaN NaN NaN NaN
 18                                               2016 NaN NaN NaN NaN
 19                                               2015 NaN NaN NaN NaN
 20                                               2013 NaN NaN NaN NaN
 21                                               2009 NaN NaN NaN NaN
 22                                               2008 NaN NaN NaN NaN
 23                                               2006 NaN NaN NaN NaN
 24                                               2002 NaN NaN NaN NaN
 25                                               2019 NaN NaN NaN NaN
 26                                               2014 NaN NaN NaN NaN,
        0   1   2   3   4
 0   2018 NaN NaN NaN NaN
 1   2017 NaN NaN NaN NaN
 2   2016 NaN NaN NaN NaN
 3   2015 NaN NaN NaN NaN
 4   2012 NaN NaN NaN NaN
 5   2011 NaN NaN NaN NaN
 6   2010 NaN NaN NaN NaN
 7   2009 NaN NaN NaN NaN
 8   2008 NaN NaN NaN NaN
 9   2006 NaN NaN NaN NaN
 10  2005 NaN NaN NaN NaN
 11  2004 NaN NaN NaN NaN
 12  1999 NaN NaN NaN NaN
 13  1997 NaN NaN NaN NaN
 14  1995 NaN NaN NaN NaN
 15  1986 NaN NaN NaN NaN,
       0   1   2   3   4
 0  2018 NaN NaN NaN NaN
 1  2016 NaN NaN NaN NaN
 2  2015 NaN NaN NaN NaN
 3  2013 NaN NaN NaN NaN
 4  2009 NaN NaN NaN NaN
 5  2008 NaN NaN NaN NaN
 6  2006 NaN NaN NaN NaN
 7  2002 NaN NaN NaN NaN,
       0   1   2   3   4
 0  2019 NaN NaN NaN NaN
 1  2014 NaN NaN NaN NaN,
                                 vteEnergy  \
 0                   Outline History Index
 1                    Fundamental concepts
 2                                   Types
 3                         Energy carriers
 4                          Primary energy
 5                Energy system components
 6                          Use and supply
 7                                   Misc.
 8  Category  Commons  Portal  WikiProject

                                          vteEnergy.1
 0                              Outline History Index
 1  Energy Units Conservation of energy Energetics...
 2  Kinetic Internal Thermal Potential Gravitation...
 3  Radiation Enthalpy Mechanical wave Sound wave ...
 4  Fossil fuel Coal Petroleum Natural gas Nuclear...
 5  Energy engineering Oil refinery Electric power...
 6  Energy consumption Energy storage World energy...
 7                    Jevons paradox Carbon footprint
 8             Category  Commons  Portal  WikiProject  ,
                                        vteWind power  \
 0                                         Wind power
 1                                         Wind farms
 2                                      Wind turbines
 3                                Wind power industry
 4                                      Manufacturers
 5                                           Concepts
 6  Wind power portal  Category  Commons  Addition...

                                      vteWind power.1
 0  High-altitude History By country Land vehicles...
 1  Community-owned Farms by country Offshore farm...
 2  Aerodynamics Airborne Crosswind kite Design Fl...
 3        Consulting companies Manufacturers Software
 4  Enercon GE Wind Energy including GE Offshore W...
 5  2020s in wind power research Betz's law Blade ...
 6  Wind power portal  Category  Commons  Addition...  ,
                             vteWind power by country  \
 0  Overview Wind power industry Africa Egypt Ethi...
 1                                           Overview
 2                                             Africa
 3                                               Asia
 4                                             Europe
 5                                      North America
 6                                            Oceania
 7                                      South America
 8  Wind power portal Â Renewable energy portal Â En...

                           vteWind power by country.1
 0  Overview Wind power industry Africa Egypt Ethi...
 1                                Wind power industry
 2                 Egypt Ethiopia Ghana Kenya Morocco
 3  Afghanistan Armenia Bhutan China (Hong Kong) G...
 4  Albania Armenia Austria Belgium Belarus Bulgar...
 5             Canada Costa Rica Mexico United States
 6                              Australia New Zealand
 7  Argentina Brazil Chile Colombia Uruguay Venezuela
 8  Wind power portal Â Renewable energy portal Â En...  ,
                0                                                  1
 0       Overview                                Wind power industry
 1         Africa                 Egypt Ethiopia Ghana Kenya Morocco
 2           Asia  Afghanistan Armenia Bhutan China (Hong Kong) G...
 3         Europe  Albania Armenia Austria Belgium Belarus Bulgar...
 4  North America             Canada Costa Rica Mexico United States
 5        Oceania                              Australia New Zealand
 6  South America  Argentina Brazil Chile Colombia Uruguay Venezuela,
                               vteElectricity delivery  \
 0                                            Concepts
 1                                             Sources
 2                                       Non-renewable
 3                                           Renewable
 4                                          Generation
 5                       Transmission and distribution
 6                                       Failure modes
 7                                  Protective devices
 8                              Economics and policies
 9                           Statistics and production
 10  Categories Electric power distribution Electri...

                             vteElectricity delivery.1  \
 0   Automatic generation control Backfeeding Base ...
 1   Non-renewable Fossil fuel power station Coal N...
 2   Fossil fuel power station Coal Natural gas Pet...
 3   Biogas Biofuel Biomass Geothermal Hydro Marine...
 4   AC power Cogeneration Combined cycle Cooling t...
 5   Demand response Distributed generation Dynamic...
 6   Blackout (Rolling blackout) Brownout Black sta...
 7   Arc-fault circuit interrupter Circuit breaker ...
 8   Availability factor Capacity factor Carbon off...
 9   List of electricity sectors Electric energy co...
 10  Categories Electric power distribution Electri...

                             vteElectricity delivery.2
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10  Categories Electric power distribution Electri...  ,
                0                                                  1
 0  Non-renewable  Fossil fuel power station Coal Natural gas Pet...
 1      Renewable  Biogas Biofuel Biomass Geothermal Hydro Marine...,
   vteApplication of wind energy  \
 0                    Wind power
 1            Vehicle propulsion
 2             Kite applications
 3                   Air current

                      vteApplication of wind energy.1
 0                             Wind turbine Wind mill
 1  Sailboat Sailing ship Power kite SkySails Iceb...
 2                            Kite Human-lifting kite
 3                                        Windcatcher  ,
   vteRenewable energy by country and territory  \
 0                                       Africa
 1                                         Asia
 2                                       Europe
 3                               European Union
 4                                        Other
 5                                North America
 6                                      Oceania
 7                                South America
 8  Category Portals:  Energy  Renewable energy

       vteRenewable energy by country and territory.1
 0  Democratic Republic of the Congo Egypt Ethiopi...
 1  Afghanistan Bangladesh Bhutan Brunei China Ind...
 2  European Union Austria Czech Republic Cyprus D...
 3  Austria Czech Republic Cyprus Denmark Finland ...
 4  Albania Armenia Belarus Iceland Kosovo Norway ...
 5    Canada Costa Rica Honduras Mexico United States
 6          Australia Cook Islands New Zealand Tuvalu
 7                    Argentina Brazil Chile Colombia
 8        Category Portals:  Energy  Renewable energy  ,
                 0                                                  1
 0  European Union  Austria Czech Republic Cyprus Denmark Finland ...
 1           Other  Albania Armenia Belarus Iceland Kosovo Norway ...,
                                  vteNatural resources  \
 0                                                 Air
 1                                 PollutionÂ / quality
 2                                           Emissions
 3                                              Energy
 4                                                Land
 5                                                Life
 6                                               Water
 7                                    TypesÂ / location
 8                                             Aspects
 9                                             Related
 10  Commons enclosure global land tragedy of Econo...
 11                                           Resource
 12                                           Category

                                vteNatural resources.1
 0   PollutionÂ / quality Ambient standards (USA) In...
 1   Ambient standards (USA) Index Indoor Law Clean...
 2                Airshed Trading Deforestation (REDD)
 3   Law Resources Fossil fuelsÂ (gas, Peak coal, Pe...
 4   Arable peak farmland Degradation Landscape cit...
 5   Biodiversity Bioprospecting Biosphere Bushfood...
 6   TypesÂ / location Aquifer storage and recovery ...
 7   Aquifer storage and recovery Drinking Fresh Gr...
 8   Desalination Floods Law Leaching Sanitation Co...
 9   Commons enclosure global land tragedy of Econo...
 10  Commons enclosure global land tragedy of Econo...
 11  Common-pool Conflict (perpetuation) Curse Depl...
 12                                           Category  ,
                      0                                                  1
 0  PollutionÂ / quality  Ambient standards (USA) Index Indoor Law Clean...
 1            Emissions               Airshed Trading Deforestation (REDD),
                   0                                                  1
 0  TypesÂ / location  Aquifer storage and recovery Drinking Fresh Gr...
 1           Aspects  Desalination Floods Law Leaching Sanitation Co...,
                                                    0  \
 0  Commons enclosure global land tragedy of Econo...
 1                                           Resource

                                                    1
 0  Commons enclosure global land tragedy of Econo...
 1  Common-pool Conflict (perpetuation) Curse Depl...  ,
   Authority control                                Authority control.1
 0          National  France BnF data Germany Israel United States J...
 1             Other                                               NARA]

In [14]:
data[1]

                 Wind farm  Capacity (MW)        Country  Refs
0          Gansu Wind Farm           7965          China  [21]
1      Muppandal wind farm           1500          India  [22]
2  Alta (Oak Creek-Mojave)           1320  United States  [23]
3      Jaisalmer Wind Park           1064          India  [24]

In [19]:
page_url = \
    ('https://en.wikipedia.org/w/index.php?' +
     'title=Solar_power&oldid=1022764142')
data = pd.read_html(page_url)
data

[                                                   0
 0                                Part of a series on
 1                                 Sustainable energy
 2  Energy conservation Arcology Building insulati...
 3  Renewable energy Biofuel Biogas Biomass Carbon...
 4  Sustainable transport Bicycle Cycle rickshaw E...
 5                  Renewable energy portal Â Category
 6  .mw-parser-output .navbar{display:inline;font-...,
     Solar Electricity Generation                                \
                             Year                  Energy (TWh)
 0                           2004                           2.6
 1                           2005                           3.7
 2                           2006                           5.0
 3                           2007                           6.8
 4                           2008                          11.4
 5                           2009                          19.3
 6                           2010                          31.4
 7                           2011                          60.6
 8                           2012                          96.7
 9                           2013                         134.5
 10                          2014                         185.9
 11                          2015                         253.0
 12                          2016                         328.2
 13                          2017                         442.6
 14                          2019                         724.1
 15  Sources:[33][34][35][36][37]  Sources:[33][34][35][36][37]


                       % of Total
 0                          0.01%
 1                          0.02%
 2                          0.03%
 3                          0.03%
 4                          0.06%
 5                          0.10%
 6                          0.15%
 7                          0.27%
 8                          0.43%
 9                          0.58%
 10                         0.79%
 11                         1.05%
 12                         1.31%
 13                         1.73%
 14                         2.68%
 15  Sources:[33][34][35][36][37]  ,
                                  Name        Country  Capacity MWp  \
 0                 Pavagada Solar Park          India          2050
 1           Tengger Desert Solar Park          China          1547
 2                   Bhadla Solar Park          India          1515
 3       Kurnool Ultra Mega Solar Park          India          1000
 4  Datong Solar Power Top Runner Base          China          1000
 5          Longyangxia Dam Solar Park          China           850
 6               Rewa Ultra Mega Solar          India           750
 7         Kamuthi Solar Power Project          India           648
 8               Solar Star (I and II)  United States           579
 9                    Topaz Solar Farm  United States           550

    Generation GWh p.a.  Size km2  \
 0                  NaN        53
 1                  NaN        43
 2                  NaN        40
 3                  NaN        24
 4                  NaN       NaN
 5                  NaN        23
 6                  NaN       NaN
 7                  NaN      10.1
 8               1664.0        13
 9               1301.0  24.6[74]

    .mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Year  \
 0                                               2017
 1                                               2016
 2                                               2017
 3                                               2017
 4                                               2016
 5                                               2015
 6                                               2018
 7                                               2016
 8                                               2015
 9                                               2014

                     Ref
 0           [2][53][54]
 1              [55][56]
 2          [57][58][59]
 3                  [60]
 4          [61][62][63]
 5  [64][65][66][67][68]
 6                  [69]
 7              [70][71]
 8              [72][73]
 9          [75][76][77]  ,
                                                  Name  \
 0                        Ivanpah Solar Power Facility
 1                     Solar Energy Generating Systems
 2                                Mojave Solar Project
 3                           Solana Generating Station
 4                        Genesis Solar Energy Project
 5                     Solaben Solar Power Station[79]
 6                                              Noor I
 7                         Solnova Solar Power Station
 8                         Andasol solar power station
 9                        Extresol Solar Power Station
 10  For a more detailed, sourced and complete list...

                                         Capacity (MW)  \
 0                                                 392
 1                                                 354
 2                                                 280
 3                                                 280
 4                                                 250
 5                                                 200
 6                                                 160
 7                                                 150
 8                                                 150
 9                                                 150
 10  For a more detailed, sourced and complete list...

                                              Location  \
 0                      Mojave Desert, California, USA
 1                      Mojave Desert, California, USA
 2                            Barstow, California, USA
 3                             Gila Bend, Arizona, USA
 4                             Blythe, California, USA
 5                                     LogrosÃ¡n, Spain
 6                                             Morocco
 7                                      Seville, Spain
 8                                      Granada, Spain
 9                      Torre de Miguel Sesmero, Spain
 10  For a more detailed, sourced and complete list...

                                                 Notes
 0   Operational since February 2014. Located south...
 1   Commissioned between 1984 and 1991. Collection...
 2                             Completed December 2014
 3   Completed October 2013 Includes a 6h thermal e...
 4                                Completed April 2014
 5                             Completed 2012â2013[80]
 6                                      Completed 2016
 7                                   Completed in 2010
 8   Completed 2011. Includes a 7.5h thermal energy...
 9   Completed 2010â2012 Extresol 3 includes a 7.5h...
 10  For a more detailed, sourced and complete list...  ,
     0                                                  1
 0 NaN  This article needs to be updated. The reason g...,
     0                                                  1
 0 NaN  This section needs to be updated. Please help ...,
                                                    0
 0                Library resources about Solar power
 1  Resources in your library Resources in other l...,
                      vteSolar energy  \
 0             Outline Timeline Index
 1                           Concepts
 2                        Solar power
 3                            Thermal
 4   Photovoltaics and related topics
 5                       Concentrated
 6          Experimental and proposed
 7                         By country
 8                              Legal
 9              Distribution and uses
 10                           Storage
 11                          Adoption
 12                      Applications
 13                      Applications
 14      Agriculture and horticulture
 15                          Building
 16                          Lighting
 17                      Process heat
 18                           Cooking
 19                      Disinfection
 20                      Desalination
 21                     Water heating
 22                          See also
 23                 Category  Commons

                                     vteSolar energy.1       vteSolar energy.2
 0                              Outline Timeline Index  Outline Timeline Index
 1                            The Sun Solar irradiance                     NaN
 2   Thermal Passive solar building design Solar wa...                     NaN
 3   Passive solar building design Solar water heat...                     NaN
 4   Photovoltaic effect Solar cell Polymer solar c...                     NaN
 5   Heliostat Solar tracker Parabolic trough Solar...                     NaN
 6   Solar updraft tower Solar-pumped laser Thermoe...                     NaN
 7   Albania Australia Austria Armenia Belgium Braz...                     NaN
 8                             Solar Shade Control Act                     NaN
 9   Storage Thermal mass Thermal energy storage Ph...                     NaN
 10  Thermal mass Thermal energy storage Phase chan...                     NaN
 11  Feed-in tariff Net metering Financial incentiv...                     NaN
 12  Solar water heating Solar vehicle Electric air...                     NaN
 13  Agriculture and horticulture Agrivoltaic Green...                     NaN
 14  Agrivoltaic Greenhouse Polytunnel Row cover So...                     NaN
 15  Passive solar building design Building-integra...                     NaN
 16  Hybrid solar lighting Solar lamp Solar Tuki Li...                     NaN
 17     Solar pond Solar furnace Salt evaporation pond                     NaN
 18                                       Solar cooker                     NaN
 19         Solar water disinfection Soil solarization                     NaN
 20                           Solar still Desalination                     NaN
 21  Solar water heating Solar combisystem Zero car...                     NaN
 22  Photovoltaics topics Solar power by country Re...                     NaN
 23                                  Category  Commons       Category  Commons  ,
                                   0  \
 0                           Thermal
 1  Photovoltaics and related topics
 2                      Concentrated
 3         Experimental and proposed
 4                        By country
 5                             Legal

                                                    1
 0  Passive solar building design Solar water heat...
 1  Photovoltaic effect Solar cell Polymer solar c...
 2  Heliostat Solar tracker Parabolic trough Solar...
 3  Solar updraft tower Solar-pumped laser Thermoe...
 4  Albania Australia Austria Armenia Belgium Braz...
 5                            Solar Shade Control Act  ,
               0                                                  1
 0       Storage  Thermal mass Thermal energy storage Phase chan...
 1      Adoption  Feed-in tariff Net metering Financial incentiv...
 2  Applications  Solar water heating Solar vehicle Electric air...,
                               0  \
 0  Agriculture and horticulture
 1                      Building
 2                      Lighting
 3                  Process heat
 4                       Cooking
 5                  Disinfection
 6                  Desalination
 7                 Water heating

                                                    1
 0  Agrivoltaic Greenhouse Polytunnel Row cover So...
 1  Passive solar building design Building-integra...
 2  Hybrid solar lighting Solar lamp Solar Tuki Li...
 3     Solar pond Solar furnace Salt evaporation pond
 4                                       Solar cooker
 5         Solar water disinfection Soil solarization
 6                           Solar still Desalination
 7  Solar water heating Solar combisystem Zero car...  ,
           vteSolar power by country  \
 0                          Overview
 1                            Africa
 2                              Asia
 3                            Europe
 4                     North America
 5                           Oceania
 6                     South America
 7  Portals: Energy Renewable energy

                          vteSolar power by country.1
 0  Growth of photovoltaics List of photovoltaics ...
 1               Algeria Morocco Somalia South Africa
 2  China Georgia India Israel Japan Myanmar Pakis...
 3  Albania Austria Armenia Belgium Belarus Bulgar...
 4                Canada Jamaica Mexico United States
 5                              Australia New Zealand
 6                                       Brazil Chile
 7                   Portals: Energy Renewable energy  ,
         vtePhotovoltaics                                 vtePhotovoltaics.1
 0               Concepts  Technology Photovoltaics Photoelectric effect ...
 1             Technology  Photovoltaics Photoelectric effect Solar irrad...
 2              Materials  List of semiconductor materials Crystalline si...
 3                History    Growth of photovoltaics Timeline of solar cells
 4    Photovoltaic system  Solar cells Nanocrystal solar cell Organic sol...
 5            Solar cells  Nanocrystal solar cell Organic solar cell Quan...
 6      System components  Solar panel Balance of system Solar charge con...
 7        System concepts  Perturb and observe method Incremental conduct...
 8           Applications  Appliances Solar-powered refrigerator Solar ai...
 9             Appliances  Solar-powered refrigerator Solar air condition...
 10        Land transport  Solar vehicle Solar car Solar roadway Solar go...
 11         Air transport  Electric aircraft Mauro Solar Riser Solar pane...
 12       Water transport                                         Solar boat
 13  Solar vehicle racing  Solar car racing List of solar car teams Solar...
 14    Generation systems  PV power station Grid-connected photovoltaic p...
 15      PV power station  Grid-connected photovoltaic power system List ...
 16      Building-mounted  Rooftop photovoltaic power station Building-in...
 17            By country  Australia Belgium Bulgaria Canada Chile China ...
 18          PV companies  By country List of countries by photovoltaics ...
 19            By country      List of countries by photovoltaics production
 20  Individual producers  First Solar Hanwha Q CELLS JA Solar Motech Sol...
 21     Category  Commons                                  Category  Commons,
             0                                                  1
 0  Technology  Photovoltaics Photoelectric effect Solar irrad...
 1   Materials  List of semiconductor materials Crystalline si...
 2     History    Growth of photovoltaics Timeline of solar cells,
                    0                                                  1
 0        Solar cells  Nanocrystal solar cell Organic solar cell Quan...
 1  System components  Solar panel Balance of system Solar charge con...
 2    System concepts  Perturb and observe method Incremental conduct...,
                       0                                                  1
 0            Appliances  Solar-powered refrigerator Solar air condition...
 1        Land transport  Solar vehicle Solar car Solar roadway Solar go...
 2         Air transport  Electric aircraft Mauro Solar Riser Solar pane...
 3       Water transport                                         Solar boat
 4  Solar vehicle racing  Solar car racing List of solar car teams Solar...,
                   0                                                  1
 0  PV power station  Grid-connected photovoltaic power system List ...
 1  Building-mounted  Rooftop photovoltaic power station Building-in...
 2        By country  Australia Belgium Bulgaria Canada Chile China ...,
                       0                                                  1
 0            By country      List of countries by photovoltaics production
 1  Individual producers  First Solar Hanwha Q CELLS JA Solar Motech Sol...,
                               vteElectricity delivery  \
 0                                            Concepts
 1                                             Sources
 2                                       Non-renewable
 3                                           Renewable
 4                                          Generation
 5                       Transmission and distribution
 6                                       Failure modes
 7                                  Protective devices
 8                              Economics and policies
 9                           Statistics and production
 10  Categories Electric power distribution Electri...

                             vteElectricity delivery.1  \
 0   Automatic generation control Backfeeding Base ...
 1   Non-renewable Fossil fuel power station Coal N...
 2   Fossil fuel power station Coal Natural gas Pet...
 3   Biogas Biofuel Biomass Geothermal Hydro Marine...
 4   AC power Cogeneration Combined cycle Cooling t...
 5   Demand response Distributed generation Dynamic...
 6   Blackout (Rolling blackout) Brownout Black sta...
 7   Arc-fault circuit interrupter Circuit breaker ...
 8   Availability factor Capacity factor Carbon off...
 9   List of electricity sectors Electric energy co...
 10  Categories Electric power distribution Electri...

                             vteElectricity delivery.2
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10  Categories Electric power distribution Electri...  ,
                0                                                  1
 0  Non-renewable  Fossil fuel power station Coal Natural gas Pet...
 1      Renewable  Biogas Biofuel Biomass Geothermal Hydro Marine...,
   vteRenewable energy by country and territory  \
 0                                       Africa
 1                                         Asia
 2                                       Europe
 3                               European Union
 4                                        Other
 5                                North America
 6                                      Oceania
 7                                South America
 8  Category Portals:  Energy  Renewable energy

       vteRenewable energy by country and territory.1
 0  Democratic Republic of the Congo Egypt Ethiopi...
 1  Afghanistan Bangladesh Bhutan Brunei China Ind...
 2  European Union Austria Czech Republic Cyprus D...
 3  Austria Czech Republic Cyprus Denmark Finland ...
 4  Albania Armenia Belarus Iceland Kosovo Norway ...
 5    Canada Costa Rica Honduras Mexico United States
 6          Australia Cook Islands New Zealand Tuvalu
 7                    Argentina Brazil Chile Colombia
 8        Category Portals:  Energy  Renewable energy  ,
                 0                                                  1
 0  European Union  Austria Czech Republic Cyprus Denmark Finland ...
 1           Other  Albania Armenia Belarus Iceland Kosovo Norway ...]

In [20]:
solar_PV_data = data[2]
solar_PV_data

,Name,Country,Capacity MWp,Generation GWh p.a.,Size km2,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Year,Ref
0,Pavagada Solar Park,India,2050,NaN,53,2017,[2][53][54]
1,Tengger Desert Solar Park,China,1547,NaN,43,2016,[55][56]
2,Bhadla Solar Park,India,1515,NaN,40,2017,[57][58][59]
3,Kurnool Ultra Mega Solar Park,India,1000,NaN,24,2017,[60]
4,Datong Solar Power Top Runner Base,China,1000,NaN,NaN,2016,[61][62][63]
5,Longyangxia Dam Solar Park,China,850,NaN,23,2015,[64][65][66][67][68]
6,Rewa Ultra Mega Solar,India,750,NaN,NaN,2018,[69]
7,Kamuthi Solar Power Project,India,648,NaN,10.1,2016,[70][71]
8,Solar Star (I and II),United States,579,1664.0,13,2015,[72][73]
9,Topaz Solar Farm,United States,550,1301.0,24.6[74],2014,[75][76][77]

In [23]:
# Text Data (Chapter 3.01)
pd.read_csv('Dataset/bike_share.csv')

           dteday  hr  cnt
0        1/1/2011   0   16
1        1/1/2011   1   40
2        1/1/2011   2   32
3        1/1/2011   3   13
4        1/1/2011   4    1
...           ...  ..  ...
17374  12/31/2012  19  119
17375  12/31/2012  20   89
17376  12/31/2012  21   90
17377  12/31/2012  22   61
17378  12/31/2012  23   49

[17379 rows x 3 columns]

In [25]:
# Text Data (Chapter 3.01).
# Error is to be expected.

pd.read_csv('Dataset/bike_share_UCS_2_LE_BOM.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 0: invalid start byte

In [26]:
# Text Data (Chapter 3.01).
# The following snippet uses the encoding = 'utf_16_le' parameter to read the file:

pd.read_csv('Dataset/bike_share_UCS_2_LE_BOM.csv',\
            encoding = 'utf_16_le')

           dteday  hr  cnt
0        1/1/2011   0   16
1        1/1/2011   1   40
2        1/1/2011   2   32
3        1/1/2011   3   13
4        1/1/2011   4    1
...           ...  ..  ...
17374  12/31/2012  19  119
17375  12/31/2012  20   89
17376  12/31/2012  21   90
17377  12/31/2012  22   61
17378  12/31/2012  23   49

[17379 rows x 3 columns]

In [27]:
#  Exercise 3.02 - Text Character Encoding and Data Separators

data = pd.read_csv('Dataset/thyroid.tsv')
data.head()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 0: invalid start byte

In [28]:
#  Exercise 3.02 - Text Character Encoding and Data Separators

data = pd.read_csv('Dataset/thyroid.tsv',\
                   encoding = 'utf_16_le')
data

     age\tsex\ton_thyroxine\tquery_on_thyroxine\ton_antithyroid_medication\tsick\tpregnant\tthyroid_surgery\tI131_treatment\tquery_hypothyroid\tquery_hyperthyroid\tlithium\tgoitre\ttumor\thypopituitary\tpsych\tTSH_measured\tTSH\tT3_measured\tT3\tTT4_measured\tTT4\tT4U_measured\tT4U\tFTI_measured\tFTI\tTBG_measured\tTBG\treferral_source\tresult\tvalue
0     41\tF\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\t...
1     23\tF\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\t...
2     46\tM\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\t...
3     70\tF\tt\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\t...
4     70\tF\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\t...
...                                                 ...
2795  70\tM\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\t...
2796  73\tM\tf\tt\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\t...
2797  75\tM\tf\tf\tf\tf\tf\tf\tf\tf\tt\tf\tf\tf\tf\t...
2798  60\tF\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\t...
2799  81\tF\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\tf\t...

[2800 rows x 1 columns]

In [29]:
#  Exercise 3.02 - Text Character Encoding and Data Separators
# Adding the separator '\t'

data = pd.read_csv('Dataset/thyroid.tsv',\
                   encoding = 'utf_16_le',\
                   sep = '\t')
data

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,result,value
0,41,F,f,f,f,f,f,f,f,f,...,125,t,1.14,t,109,f,?,SVHC,negative.,3733
1,23,F,f,f,f,f,f,f,f,f,...,102,f,?,f,?,f,?,other,negative.,1442
2,46,M,f,f,f,f,f,f,f,f,...,109,t,0.91,t,120,f,?,other,negative.,2965
3,70,F,t,f,f,f,f,f,f,f,...,175,f,?,f,?,f,?,other,negative.,806
4,70,F,f,f,f,f,f,f,f,f,...,61,t,0.87,t,70,f,?,SVI,negative.,2807
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2795,70,M,f,f,f,f,f,f,f,f,...,155,t,1.05,t,148,f,?,SVI,negative.,3689
2796,73,M,f,t,f,f,f,f,f,f,...,63,t,0.88,t,72,f,?,other,negative.,3652
2797,75,M,f,f,f,f,f,f,f,f,...,147,t,0.8,t,183,f,?,other,negative.,1287
2798,60,F,f,f,f,f,f,f,f,f,...,100,t,0.83,t,121,f,?,other,negative.,3496
2799,81,F,f,f,f,f,f,f,f,f,...,114,t,0.99,t,115,f,?,SVI,negative.,724

In [32]:
#  Exercise 3.02 - Text Character Encoding and Data Separators
# sqlite3
# See VSCode Folder

import pandas as pd
import sqlite3
conn = sqlite3.connect('Dataset/bike_share.db')
c = conn.cursor()
data = pd.read_csv('Dataset/bike_share_UCS_2_LE_BOM.tsv',
                  encoding = 'utf_16_le',
                  sep = '\t')
c.execute('CREATE TABLE IF NOT EXISTS RENTALS(Date,Hour,Qty)')
conn.commit()
data.to_sql("RENTALS",conn,if_exists='replace')

17379